@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #374249;
}

header {
  display: flex;
  align-items: center;
  height: 4rem;
  background-color: rgb(55, 66, 73);
}
header div {
  background-color: #f75311;
  width: 20rem;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 4rem;
}
header div i {
  color: white;
}
header div a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  border-bottom: white 0.05em solid;
  margin-left: 10px;
}
header ul {
  list-style: none;
  display: flex;
  margin-left: 2rem;
}
header ul li {
  padding: 0 2rem;
  color: white;
  cursor: pointer;
}
header ul li:hover {
  border-bottom: 1.5px solid white;
}

main .picture {
  text-align: center;
  width: 100%;
  height: 40rem;
  background: url(../slike/intro.jpg);
  background-size: cover;
  position: relative;
}
main .picture_hbox {
  position: absolute;
  left: 20%;
  right: 20%;
  top: 65%;
  background-color: rgba(55, 66, 73, 0.4);
}
main .picture_hbox h1,
main .picture_hbox h3 {
  color: white;
  letter-spacing: 4px;
  font-weight: 200;
}
main .buttons {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  padding-right: 10rem;
}
main .buttons button {
  border-radius: 20px;
  padding: 10px;
  margin: 1rem 1rem;
  color: #374249;
  background-color: white;
  border: 0.5px solid #cfd1d3;
  cursor: pointer;
}
main .buttons button:hover {
  background-color: #cfd1d3;
  color: white;
}
main .gallery {
  background-color: #f3f7f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}
main .gallery_box {
  width: 60%;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  margin: 3rem 0;
}
main .gallery_box .img {
  width: 23%;
  height: 17rem;
  position: relative;
}
main .gallery_box .img:hover .img_box {
  display: block;
}
main .gallery_box .img_box {
  display: none;
  position: absolute;
  background-color: rgba(243, 244, 245, 0.5);
  width: 100%;
}
main .gallery_box .img_box h3 {
  margin: 1rem;
}
main .gallery_box .img img {
  width: 100%;
  height: 100%;
}
main .tabela {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .tabela button {
  display: none;
}
main .tabela h1 {
  text-transform: uppercase;
  color: #374249;
  margin: 2rem;
}
main .tabela p {
  margin-bottom: 2rem;
}
main .tabela .price {
  margin-left: 30rem;
}
main .tabela .price_box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f75311;
  color: white;
  width: 22.5rem;
  height: 2.66rem;
  border: 1px solid gray;
}
main .tabela .price div {
  display: flex;
  color: white;
}
main .tabela .price div .price_rent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 2.66rem;
  background-color: rgb(55, 66, 73);
  border: 1px solid gray;
}
main .tabela .price div .price_sell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7.5rem;
  background-color: rgb(55, 66, 73);
  border: 1px solid gray;
}
main .tabela .box {
  display: flex;
  margin-bottom: 8rem;
}
main .tabela .box_loc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 8rem;
  color: white;
  border: 1px solid gray;
  background-color: #f75311;
}
main .tabela .box_2 {
  width: 15rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(55, 66, 73);
  color: white;
}
main .tabela .box_2-1, main .tabela .box_2-2, main .tabela .box_2-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 33.3%;
  width: 100%;
  border: 1px solid gray;
}
main .tabela .box_3 {
  width: 15rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: gray;
}
main .tabela .box_3-1, main .tabela .box_3-2, main .tabela .box_3-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 33.3%;
  width: 100%;
  border: 1px solid gray;
}
main .tabela .box_4 {
  width: 7.5rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: gray;
}
main .tabela .box_4-1, main .tabela .box_4-2, main .tabela .box_4-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 33.3%;
  width: 100%;
  border: 1px solid gray;
}
main .contact {
  background-color: #f3f7f9;
  text-align: center;
}
main .contact h1 {
  color: #374249;
  text-transform: uppercase;
  padding: 2rem 0;
}
main .contact_box {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding-bottom: 2rem;
}
main .contact_box form {
  background-color: #f75311;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 15rem;
  gap: 20px;
}
main .contact_box form div {
  width: 100%;
}
main .contact_box form div input,
main .contact_box form div select {
  border: none;
  width: 95%;
  height: 30px;
}
main .contact_box form .first {
  margin-top: 20px;
  gap: 25px;
  width: 95%;
  display: flex;
}
main .contact_box form .first select {
  width: 30%;
}
main .contact_box form .message {
  height: 50%;
}
main .contact_box form .message input {
  height: 80%;
}

footer {
  background-color: rgb(55, 66, 73);
  display: flex;
  justify-content: center;
  padding: 10px 0;
  color: white;
}
footer span {
  color: #f75311;
}

@media screen and (max-width: 900px) {
  main .picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40rem;
    background: url(../slike/intro.jpg);
    background-size: cover;
    position: relative;
  }
  main .picture_hbox {
    position: absolute;
    right: 5%;
    left: 5%;
    top: 50%;
    background-color: rgba(55, 66, 73, 0.4);
  }
  main .picture_hbox h1 {
    color: white;
    letter-spacing: 4px;
    font-weight: 200;
    font-size: 50px;
  }
  main .buttons {
    padding-right: 4rem;
  }
  main .gallery {
    background-color: #f3f7f9;
    display: flex;
  }
  main .gallery_box {
    width: 100%;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3rem 0;
  }
  main .gallery_box .img {
    width: 40%;
    height: 20rem;
  }
  main .contact {
    display: flex;
    flex-direction: column;
  }
  main .contact_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  main .contact form {
    width: 70%;
  }
}
@media screen and (max-width: 700px) {
  header {
    flex-direction: column;
    justify-content: center;
    height: fit-content;
  }
  header div {
    width: 100%;
    height: 3rem;
  }
  header ul {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin: 1.3rem 0;
  }
  header ul li {
    padding: 1rem 0;
  }
  main .picture {
    background: black;
    height: 10rem;
  }
  main .picture_hbox {
    top: 0;
    opacity: 100;
    background-color: black;
  }
  main .gallery_box {
    flex-direction: column;
  }
  main .gallery_box .img {
    width: 95%;
  }
  main .gallery_box .img_box {
    display: block;
    height: 7rem;
  }
  main .buttons {
    justify-content: center;
    padding-right: 0;
    padding: 0;
  }
  main .buttons button {
    width: 33%;
  }
  main .tabela button {
    display: block;
    border: 1px solid gray;
    border-radius: 50px;
    padding: 15px;
    background-color: white;
    margin-bottom: 30px;
  }
  main .tabela .price {
    display: none;
  }
  main .tabela .box {
    display: none;
  }
  main .contact form {
    width: 90%;
  }
}

/*# sourceMappingURL=style.css.map */
