@mixin reset {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

@mixin desktop {
  @media screen and (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: #{$tablet-width}) {
    @content;
  }
}