$desktop-width: 1024px;
$tablet-width: 786px;

$font-color: #797979;
$main-color: #f75311;
$secondary-color: #374249;
$heading-color: #374249;
$btn-hover-color: #cfd1d3;
$bg-color: #f3f7f9;
$bg-transparent-main: #37424977;