@import 'mixins';
@import 'var';

@include desktop {

  // Section Contact
  #contact {
    background-color: $bg-color;

    .contact {
      &-cont {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .form {

          &-all {
            .form-one {
              display: flex;
              gap: 20px;
              width: 100%;
            }

          }
        }
      }

      &-map {
        margin: auto;
        margin-bottom: 30px;
      }
    }
  }

  #picture {
    .images {
      grid-template-columns: repeat(2, 1fr);

    }
  }

}

@include tablet {

  // Section Contact
  #contact {


    .contact {
      &-cont {

        .form {


          &-all {

            .form-one {
              display: flex;
              flex-direction: column;

              select {
                flex: 100%;
                text-align: center;
                padding: 5px;
              }

              input[type="text"] {
                flex: 100%;
                padding: 5px;
              }

            }

          }
        }
      }
    }
  }

  #picture {
    .images {
      grid-template-columns: repeat(1, 1fr);

    }
  }

  // Section Table
  #table {
    table {
      display: none;

    }

    text-align: center;

    .item2 {
      display: block;

    }
  }

  // Header

  #header {
    height: 80vh;
    background: black;

    #navbar {
      flex-direction: column;


      .map {
        width: 100%;
        text-align: left;

      }

      .nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-items: center;
        width: 100%;
        padding: 20px 0;

        a {
          color: white;
          text-decoration: none;
          margin-right: 0;
          padding: 5px 0;

          &:hover {

            color: $main-color;
            border: none;
          }
        }
      }
    }

    .main-heading {
      width: 100%;
      text-align: center;
      margin-top: 10%;
      color: white;
      background-color: transparent;

      h1 {
        font-size: 2.5rem;
      }
    }
  }

  #search {
    .search-cont {
      display: flex;
      width: 100%;
      justify-content: center;
      padding: 20px 10px;

      .item {
        margin: 0 15px;
        border: 1px solid gainsboro;
        padding: 10px 15px;
        border-radius: 25px;
        cursor: pointer;

        &:hover {
          color: white;
          background-color: $btn-hover-color;
        }
      }
    }
  }

}