@import 'var';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html{
  font-size: 62.5%;
}



header {
 background-color: $footer_background;
 height: 100vh;
 background-image: url("../slike/intro.jpg");
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;

 .navMain {
  background-color: $footer_background;
  display: flex;
  gap: 3rem;

  .location {
    display: flex;
    align-items: center;
    width: 20vw;
    background-color: $eye_catching;
    padding: 1rem;
    a {
      border-bottom: 1px solid #fff;
    }
  }
  }
  img {
    width: 25px;
  }

  ul {
    display: flex;
    list-style: none;
    gap: 5rem;
    align-items: center;

    li div {
      display: flex;
      align-items: center;
      width: 20vw;
      background-color: $eye_catching;
    }

    }
    li {
      margin-right: 1rem;
    }
    a {
      text-decoration: none;
      color: #fff;
      text-align: center;
      display: block;
      font-size: 1.2rem;
    }
  }
 