@import 'var';
@import 'mixins';

* {
  @include general;
  font-family: 'Roboto';
  color: $font_color;
}

html{
  font-size: 62.5%;
}

h2 {
  text-transform: uppercase;
  font-size: 2.2rem;
  color: $heading-color;
}

header {
  height: 90vh;
  @include bimage(url("../slike/intro.jpg"));
  @include flex_center(column, space-between);
  padding-bottom: 10rem;

 .navMain {
  width: 100vw;
  background-color: $footer_background;
  display: flex;
  gap: 3rem;

  .location {
    display: flex;
    align-items: center;
    width: 20vw;
    background-color: $eye_catching;
    padding: 1rem;
    a {
      border-bottom: 1px solid #fff;
    }
  }
  }
  img {
    width: 25px;
  }

  ul {
    display: flex;
    list-style: none;
    gap: 5rem;
    align-items: center;

    li div {
      display: flex;
      align-items: center;
      width: 20vw;
      background-color: $eye_catching;
    }

    }
    li {
      margin-right: 1rem;
      transition: box-shadow 200ms ease-in;

      &:hover {
        
        box-shadow: inset 0 -1px 0 0 #fff
      }
    }
    a {
      text-decoration: none;
      color: #fff;
      text-align: center;
      display: block;
      font-size: 1.2rem;
    }

    .welcome_message {

      width: 60%;
      padding-top: 1rem;
      
      background-color: hsla(0, 0%, 20%, 0.568);
     
      h1 {
        font-size: 4.4rem;
        color: #fff;
        text-align: center;
        letter-spacing: 2px;
        padding-bottom: 1rem;
        font-weight: 100;
      }
  
      p {
        color: #fff;
        text-align: center;
        font-size: 1.4rem;
        font-weight:100
      };
    }

  }

.filter_btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
  padding: 2rem 25rem;
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    border: 1px solid rgb(201, 200, 200);
    border-radius: 333px;
    align-self: center;
    transition: background 300ms ease-in, color 300ms ease-in;
    a {
      text-decoration: none;
    }

    &:hover {
      background-color: $btn_color_hover;
      color: #fff;
      cursor: pointer;
    }
    &:hover a {
      color: #fff;
    }
  }
}

.section_offers {
  padding: 3rem 20rem;
  display: grid;
  grid-template-columns: repeat(4, 20rem);
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 2rem;
  background-color: $section_background;


  @for $i from 1 through 6 {
    .offers#{$i} {
      background-image: url(../slike/#{$i}.jpg);
      background-position: center;
      background-size: cover;
      height: 25rem;
      width: 20rem;
      transition: height 200ms ease-in, width 200ms ease-in;
      
      &:hover div {
        display: block;
        width: 100%;
        height: 40%;
      }
      div {
        padding: 1rem;
        font-size: 1.6rem;
        background-color: rgba(255, 255, 255, 0.541);
        display: none;
  
        p {
          color: #333;
        }
      }  
    }
  }

  .offers {
    div {
      height: 40%;
      
      font-size: 1rem;

      p {
        color: #333;
      }
    }
  }
}

.section_pricing {

  .btn-box {
    @include button
  }


  padding: 4rem 0 6rem 0;
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 3rem;

  table {
    border-collapse: collapse;
    
    text-align: center;
    border: 1px #444 solid;
  }
  
  .table_container {
    display: flex;
    width: 50%;
    td {
      padding: 1rem;
    }
  }
  
  .location, .pricing {
    width: 70%;
    height: 10rem;
  }
  
  .location {
    align-self: self-end;
    td[rowspan="3"] {
      background-color: red;
      color: #fff;
    }
    td {
      background-color: $header_background;
      color: #fff;
    }
  }

  .pricing {
    td[colspan="3"] {
      background-color: red;
      color:#fff;
    }


  }
  .rent-buy, .sell {
    background-color: $header_background;
    color: #fff;
  }
}

.section_contact {
  background-color: $section_background;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: space-around;
  @include flex_center;
  padding: 6rem;
  gap: 3rem;
  
  div {
    display: flex;
    justify-content: space-around;
    gap: 4rem;

    .contact_form {

      width: 50%;
      height: 50%;
      padding: 2rem;
      background-color: red;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 4rem;
      row-gap: 2rem;
      input, textarea {
        padding: 1rem;
        border: none;
      }

      ::placeholder {
        color: $font_color;
      }
      #name {
        grid-column: 2/-1;
      }
      input[type="email"], textarea {
        grid-column: 1/-1;
      }
    }
    }

}

footer {
  padding: 1rem;
  background-color: $footer_background;
  p {
    text-align: center;
    a {
      text-decoration: none;
      color: red;
    }
  }
}

@media screen and (max-width: 900px) {
  header {
   
    padding-bottom: 15rem;
    padding-right: 10rem ;
    .location {
      width: 100vw;
    }
    nav {
      width: 100vw;
    }
  }

  .filter_btns {
    align-items: flex-end;
    padding: 2rem 5rem;
  }

  .section_offers {
    @include grid_center(2)
  }

  .section_contact {
    div {
      @include flex_center;
      iframe {
        height: 50%;
      }
      .contact_form {
        width: 90%;
      }
    }

  }
}

@media screen and (max-width: 600px){
    header{
      height: auto;
      width: 100vw;
      height: none;
      background-image: none;

      .navMain {

        .location {
          @include flex_center(rows, flex-start);
          align-content: center;
          width: 100%;
          align-content: cente
        }

        @include flex_center;
        gap: 2rem;
        padding-bottom: 1rem;

        ul {
        @include flex_center;
        gap: 2rem
      }
    }
    .welcome_message {
      h1 {
        font-size: 2.2rem;
      }
      width: 100vw;
      height: 50vh;
      background-color: black;
    }
  }

  .filter_btns {
    @include flex_center(rows)
  }
  .section_offers {
    @include grid_center(1, 100vw, 2rem);
    @for $i from 1 through 6 {
      .offers#{$i} {
        width: 100%;
      }
    }
  }

  table {
    display: none;
  }

  .section_contact {
    div {
      gap: 2rem;
      .contact_form {
        width: 90%;
        select {
          grid-column: 1/-1;
          border: none;
          padding: 1rem;
        }
        #name {
          grid-column: 1/-1;
        }
      }
    }
  }
}

