$salmon: rgb(245, 134, 134);
$siva: grey;
$bela: white;
$ljubicasta: rgb(114, 75, 129);
$bledobela: #dddddd;
$sivkasta: #dfdede;
$transparent: #dddddd00;
$narandzasta:orange;
$prozirna:rgba(0, 0, 0, 0.315);
$svetloplava:rgb(218, 218, 250);