@import 'mixins';
@import 'vars';

header {
    top: 0;
    width: 100%;
    color: $bela;

    img {
        margin: 1%;
    }
}

.up {
    
    @include flex2;
    justify-content: flex-start;
    background: $siva;

    .upright {
        width: 25%;

        a {
            color: $bela;
            text-decoration: none;
            margin: 6%;
        }
    }
}

.orangediv {
    background: $narandzasta;
    width: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;

    a {
        text-decoration: none;
        color: $bela;
    }

    img {
        width: 23%;
    }
}

body {
    margin: 0;
    font-family: Roboto;
}

#hero {
    width: 100%;
}

#transparentdiv {
    background: $prozirna ;
    position: absolute;
    left: 28%;
    @include flex;
    top: 70%;
    color: $bela;
    width: 51%;

    h1 {
        font-size: -webkit-xxx-large;
        margin: 0;
        font-weight: normal;
    }
}

#prvasekcija {
    input {
        border-radius: 30px;
        border: 1px solid $siva;
        color: $siva;
        margin: 2%;
        font-size: 23px;
        padding: 17px;
        background: $transparent;
    }

    background: $bela;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

#drugasekcija,
#cetvrtasekcija {
    background: $svetloplava;
}

#trecasekcija {
    @include flex;

    p {
        color: $siva;
    }

}

#drugim {
    margin: 1% 15%;
    display: flex;
    flex-wrap: wrap;

    img {
        width: 23%;
        margin: 1% 1%;
    }
}

footer {
    width: 100%;
    bottom: 0;

    color: $bela;
    text-align: center;

    background: $siva;

    p {
        margin: 0;
        padding: 1%;
    }

    a {
        color: $narandzasta;
        text-decoration: none;
    }
}


#lastsec {
    text-align: center;
    padding: 2%;
}

#divl {
    display: flex;
}

.full {
    width: 90%;
}

.full2 {
    margin-top: 2%;
    width: 96%;
}

fieldset {
    background: $narandzasta;
    border: none;
}

input:active {
    border: none;
    outline: none;
}

textarea:focus,
input:focus {
    outline: none;
}

#txt {
    width: 56%;
    margin-right: 0;
}

textarea,
input {
    outline: none;
    border: none;
    margin: 1% 2%;
    padding: 1%;
}

form {
    background: $narandzasta;
    width: 50%;
    height: 170px;
}

#divl {
    margin: 0 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

iframe {
    width: 35%;
    height: 321px;
    margin-bottom: 2%;
}

table {
    margin-top: 2%;
    border-collapse: collapse;

    .siv {
        background: $tamnosiva;
        color: $bela;
    }

    text-align: center;

    th {
        background: $narandzasta;
        color: $bela;
    }

    th,
    td {
        width: 10%;
        padding: 1% 2%;
    }

    td {
        border: 1px solid $siva;
    }

    th {
        border: 1px solid $narandzasta;
    }

    .empty {
        border: none;
    }
}

#showbutton {
    display: none;
}

#drugimobilni {
    display: none;
}

//tablet
@media screen and (min-width:481px) and (max-width:720px) {
    .orangediv {

        width: 24%;

    }

    .up .upright {
        width: 69%;
    }

    #prvasekcija {
        input {
            font-size: 10px;
        }
    }

    #transparentdiv {
        text-align: center;
        top: 21%;

    }

    #drugim img {
        width: 46%;

    }

    #divl {
        margin: 0 10%;
        @include flex;
        justify-content: space-around;
       
    }

    iframe {
        width: 51%;

    }

    #txt {
        width: 51%;
        margin-right: 0;
    }

    form {
        background: #f75311;
        width: 86%;
        height: 140px;
        margin-bottom: 2%;
    }
}

//telefon
@media screen and (max-width:480px) {
    #divl {
        margin: 0;
        @include flex;
        justify-content: space-around;
        
    }

    form {
        background: #f75311;
        width: 86%;
        height: 160px;
        margin-bottom: 2%;
    }

    #txt {
        width: 94%;
        margin-right: 0;
    }

    iframe {
        width: 80%;

    }

    #browser {
        width: 94%;
    }

    table {
        display: none;
    }

    #showbutton {
        display: block;
    }

    #prvasekcija {

        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #prvasekcija input {

        font-size: 18px;

    }

    .orangediv {

        width: 100%;

    }

    .up {
        @include flex;
        justify-content: flex-start;

    }

    .up .upright a {

        text-decoration: none;
        margin: 17%;
    }

    .up .upright {
        width: 25%;
        @include flex;
    }

    #drugimobilni {
        display: block;
    }

    #drugim {
        display: none;
    }
    #drugasekcija{padding: 0.5%;}
    .textinphoto {
        color: $crna;
        background: $lightwhite;
        padding: 2%;
    }

    #slika1 {
        background-image: url("../slike/1.jpg");
    }

    #slika2 {
        background-image: url("../slike/2.jpg");
    }

    #slika3 {
        background-image: url("../slike/3.jpg");
    }

    #slika4 {
        background-image: url("../slike/4.jpg");
    }

    #slika5 {
        background-image: url("../slike/5.jpg");
    }

    #slika6 {
        background-image: url("../slike/6.jpg");
    }

       #slika1,#slika2, #slika3, #slika4, #slika5, #slika6  {
        height: 200px;
        background-size: cover;
        margin: 2%;
    }

    #transparentdiv {
        background: $crna;
        position: absolute;
        left: auto;
       @include flex;
        top: auto;
        color: $bela;
        width: 100%;
       

        h1 {
            text-align: center;
        }
    }

    #trecasekcija {
        input {
            border-radius: 30px;
            border: 1px solid $siva;
            color: $siva;
            margin: 2%;
            font-size: 15px;
            padding: 17px;
            background: $transparent;
        }
    }

    .orangediv img {
        width: 9%;
    }

}