@mixin bigimg() {
  .bigimg {
    background-image: url("../slike/intro.jpg");
    background-size: cover;
    height: 86vh;
    @include center();
    .text {
      position: relative;
      top: 200px;
      color: white;
      text-align: center;
      background-color: rgba($color: gray, $alpha: 0.5);
      border-radius: 5px;
      width: 80%;

      h1 {
        font-size: 70px;
      }
      h3 {
        font-size: 30px;
      }
    }
  }
}
