@mixin footer() {
  .footer {
    @include widthHeight(100%, 10vh);
    @include center();
    background-color: $titles;
    p {
      color: white;
    }
    p:nth-child(2) {
      margin-left: 5px;
      color: red;
    }
  }
}
