@mixin pricing() {
  .pricing {
    @include widthHeight(100%, 50vh);
    @include center();

    .wrapper {
      @include center();
      flex-direction: column;
      width: 60%;
      text-align: center;
      h1 {
        margin-bottom: 50px;
      }
      h4 {
        color: $fontcolor;
        margin-bottom: 30px;
      }
      table {
        border-collapse: collapse;
        color: white;
        text-align: center;
        width: 80%;

        tr {
          td p {
            color: gray;
          }
        }
        th,
        td {
          border: 1px solid gray;
          padding: 5px;
        }
      }
    }
  }
}
